@charset "utf-8";

$primary-color: #151D30;
$bot-section: #1C2E46;
$chat-window-color: #27374D;
$question-color: #08D9D6;
$response-color-1: #FF2E63;
$response-color-2: #47b932;
$response-color-3: #e1b72e;
$font-color-primary: #FFFFFF;
$scrollbar-color: #314662;

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

#cercle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

header {
  height: 20vh;
}

main {
  height: 80vh;
}

a {
  color: black !important;
  outline: none;
  text-decoration: none !important;
  text-transform: none;
  padding: 2px 1px 0;
}
